

body {
    font-family: sans-serif;
    background-color: ##62B1D0;

}
h1 {
    text-decoration: #62B1D0;
}
.link-header {
    text-decoration: none;
    color: #249108;
    border: 3px dashed #E9D913;

  
}

header {
    background-color: #85F169;
    padding: 2px;
    padding-left: 225px;
    font-size: 25px;
}

.link-header:hover {
   font-size: 20px;
   color: white;
   border: 2px solid #67ED7F;
}
p:hover {
    font-size: 20px;
}
li {
    font-size: 17px;
    color: white ;
}  
.link-text {
   color: #67ED7F;
}
li:hover {
    font-size: 20px;
    color: #E9D913;
}
.link-text:hover {
    font-size: 20px;
    color: grey;
    
}
h1 {
    text-align: center;
}
h2 {
  font-size: 20px;
    color: #E9B013;
  
}
p {
    color: white;
}
h1 {
    color: #85F169;
}
p:hover {
    color: #E9D913;
}
.social{
   margin-left: 20px;
} 
