

body {
    font-family: sans-serif;
    background-color: #62B1D0;

}
h1 {
    text-decoration: #67ED7F;
}
.link-header {
    text-decoration: none;
    color: #FFD200;
    border: 3px dashed #E9D913;

  
}

header {
    background-color: #85F169;
    padding: 2px;
    padding-left: 225px;
    font-size: 25px;
}

.link-header:hover {
   font-size: 20px;
   color: green;
   border: 2px solid #67ED7F;
}
p:hover {
    font-size: 20px;
}
li {
    font-size: 17px;
    color: green ;
    margin-left: 50px;
  
}  
.link-text {
   color: #67ED7F;
}
li:hover {
    font-size: 20px;
    color: #E9D913;
}
.link-text:hover {
    font-size: 20px;
    color: grey;
    
}
h1 {
    text-align: center;
}
h2 {
  font-size: 20px;
    color: #E9B013;
    margin-left: 50px;
  
}
p {
    color: green;
    margin-left: 70px;
}
h1 {
    color: #85F169;
}
p:hover {
    color: #E9D913;
}
.social{
  margin-left: 20px;
 

  
} 
